main{
    display: flex;
    height: calc(100dvh - 120px);
}
.area_cliente{
    width: 25%;
    background: #ddd;
}

.comanda{
    width: 50%;
    background: #eee;
}

.area_pedido{
    width: 25%;
    background: #ddd;
}