*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

header{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
}

nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li {
    width: 150px;
    height: 30px;
}

main{
    width: 100%;
    height: calc(100dvh - 120);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
}

input{
    width: calc(150px - 5px);
    height: 30px;
    padding-left: 5px;
    border: 2px solid #333;
}

button{
    height: 30px;
    width: 100px;
    border: none;
    background: #070;
}